[user]
	name = yammmt
	email = cu.cs.y20@gmail.com
	signingkey = B4EE4EA3
[color]
	diff = auto
	status = auto
	branch = auto
	ui = auto
[core]
	precomposeunicode = true
	editor = nano
	autocrlf = false
	quotepath = false
	excludesfile = /Users/masayama/.gitignore_global
	commentChar = ";"
	pager = delta
[push]
	default = current
[merge]
	ff = only
[pull]
	ff = only
	rebase = merges
[alias]
	br = branch
	st = status
	co = checkout
	gr = log --graph --decorate
	b = branch
	cm = commit
	last = log --graph --decorate -p -1
	pp = pull --prune
	d = diff
	a = add
	ol = log --oneline
	m = merge
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[gpg]
	program = gpg
[commit]
	gpgsign = true
[credential]
	helper = osxkeychain
[init]
	defaultBranch = main
[delta]
    line-numbers = true
	plus-color = "#00EE03"
	minus-color = "#340001"
	syntax-theme = Monokai Extended

